
.dashboardContent {
  padding: 1.5rem;
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card {
  background-color: var(--bg-color);
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.card h3 {
  font-size: 1rem;
  color: var(--text-color-secondary);
}

.card p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.chartContainer {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .dashboardContent {
    margin-left: 0;
    min-height: auto;
  }

  .charts {
    grid-template-columns: 1fr;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}
